body { margin: 0; }
div { box-sizing: border-box; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

body {
  font-size: 14px;
}
.canvas {
  width: 16em;
  height: 30em;
  margin: auto;
  margin-top: 10%;
}

/*styling the head*/

.head {
  width: 100%;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.hair {
  width: 100%;
  height: 100%;
  background: black;
  border-top-right-radius: 50% 50%;
  border-top-left-radius:  50% 50%;
}
.face-area {
  width: 60%;
  height: 60%;
  background: #FFCDB7;
  border-radius: 50% / 50%;
  position: relative;
  margin: auto;
  top: 20%;
  z-index: 1;
}
.face-area .top-area {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to right, 
    black 10%, 
    dimgrey 20%, 
    black 30%);
  border-top-right-radius: 50% 50%;
  border-top-left-radius:  50% 50%;
}
.face-area .bottom-area {
  width: 100%;
  height: 50%;
  position: relative;
}
.bottom-area div {
  position: absolute;
}
.eye {
  width: 25%;
  border-top: 4px solid black;
  top: 15%;
  border-radius: 50% / 50%;
}
.eye-right {
  right: 0;
}
.mouth {
  width: 5%;
  height: 10%;
  border-radius: 100% / 100%;
  background: red;
  bottom: 35%;
  left: 48%;
}
.blush {
  width: 20%;
  height: 20%;
  border-radius: 50% / 50%;
  background-image: radial-gradient(50% 50%, 
    deeppink,
    #FFCDB7);
  bottom: 50%;
}
.blush-left {
  left: 5%;
}
.blush-right {
  right: 5%;
}


/*Styling the body*/

.body {
  width: 100%;
  height: 60%;
  background-image: url("images/kimono.jpeg");
  background-size: cover;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%; 
  border-bottom-left-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%; 
  position: relative;
  bottom: 13%;
}
hr {
  width: 74%;
  height: 2px;
  color: black;
  border: 2px solid purple;
  transform: rotate(-58deg);

}
.body div {
  position: absolute;
}
.kimono {
  width: 30%;
  height: 70%;
  border: 2px solid purple;
  top: 17%;
}
.kimono-left {
  left: 0;
  border-top-left-radius: 100% 100%;
  border-bottom-left-radius: 10% 100%;
}
.kimono-right {
  right: 0;
  border-top-right-radius: 100% 100%; 
  border-bottom-right-radius: 10% 100%;
}
.obi {
  width: 40%;
  height: 30%;
  background-image: url("images/obi.jpg");
  background-size: cover;
  top: 30%;
  left: 30%;
}
.hand {
  width: 10%;
  height: 10%;
  background: #FFCDB7;
  top: 17%;
  border: 2px solid tan;
}
.hand-left {
  left: 30%;
  border-top-right-radius: 100% 100%; 
  border-bottom-right-radius: 100% 100%;
}
.hand-right {
  right: 30%;
  border-top-left-radius: 100% 100%;
  border-bottom-left-radius: 100% 100%;
}






